/*------ Manage Categories Page --*/

.popup-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.popup-form form {
    display: flex;
    flex-direction: column;
}

.popup-form .form-group {
    margin-bottom: 15px;
}

.popup-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.popup-form input, .popup-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.popup-form button:hover {
    background-color: #0056b3;
}
